<section>
  <article class="mx-auto text-center">
    <%= live_redirect "Show all Events", to: Routes.event_index_path(@conn, :index), class: "bg-indigo-500 hover:bg-indigo-700 text-gray-200 font-bold py-2 px-3 rounded" %>
  </article>
</section>
